# .gitignore

# Build Directories
build/
bin/
lib/

# CMake artifacts
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
*.cmake

# Compilation artifacts
*.obj
*.o
*.dll
*.so
*.dylib
*.lib
*.a
*.pdb
*.exp
*.ilk

# IDE settings
.vs/
.idea/
*.sln
*.vcxproj
*.user
